node_modules
.DS_Store*
bin
.tmp
.pre-commit-config.yaml
.golangcilint.yaml
.git
.gitignore
AUTHORS
biome.json
commitlint.config.js
components.json
LICENSE
package-lock.json
playwright-report
style.min.css
styles.css
README.adoc
