package layouts

templ Layout(contents templ.Component, title string) {
    @header(title)
    <body class="flex flex-col h-full font-sans">
    @nav()
     <main class="flex-1">
        @contents
     </main>
    </body>
    @footer()
    }
